.home{
    background-color: #404147;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    flex: 2;
    height: 100vh;
    display: none;
}

.chatArea{
    flex: 5;
    height: 100vh;
}


@media screen and (min-width: 767px) {
    .sidebar{
        display: inline;
    }
}