.sidebar{
    /* background-color: #3e3c61; */
    background-color: #23242a;
    height: 100%;
    width: 100%;
}

.connectedUsers{
    height: fit-content;
    max-height: 70vh;
    overflow: scroll;
}

.connectedUsers::-webkit-scrollbar{
    display: none;
}

.sidebar h5{
    color: white;
    padding: 10px 20px;
    letter-spacing: 2px;
    position: sticky;
}
